* {
  box-sizing: border-box;
}

/* * {
      border: 2px solid black;
    } */

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: #fff;
  /* text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red; */
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.footer:hover {
  text-shadow: 0 0 9px yellow, 0 0 20px yellow, 0 0 40px yellow, 0 0 80px yellow;
}

.pizza-img:hover {
  box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 40px yellow, 0 0 80px yellow;
}

hr:hover {
  box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 40px yellow, 0 0 80px yellow;
}
h2:hover,
h3:hover,
h4:hover {
  text-shadow: 0 0 10px yellow, 0 0 20px yellow;
}

.master {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.header {
  font-size: 24px;
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 30px;
  padding-top: 0px;
  flex: 1;
}

h1::before {
  content: "Detroit Style Pizza";
  overflow: hidden;
  position: absolute;
  background: yellow;
  background-clip: text;
  -webkit-background-clip: text;

  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: top;
  transition: all 250ms ease-in;
  width: 0;
}

h1:hover::before {
  width: 100%;
  background: red;
  padding: 20px;
  padding-bottom: 10px;
  line-height: 50px;
  border-radius: 15px;
  text-shadow: 0 0 10px yellow, 0 0 20px yellow;
  border: 2px solid yellow;
  box-shadow: 0 0 10px yellow, 0 0 20px yellow;
}

h1 {
  padding: 15px;
  color: #fff;
  text-shadow: 0 0 10px red, 0 0 20px red;
  text-align: center;
  border: 2px transparent;
  border-bottom: none;
  margin-top: 20px;

  position: relative;
  font-size: 3em;
  background-clip: text;
  -webkit-background-clip: text;
  /* border: 2px solid green; */
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100vh;
  background-color: black;
  flex: 1;
}

.left {
  width: 20%;
  height: 600vh;
  background-image: url(../img/foodBackground.jpeg);
}

.right {
  width: 20%;
  height: 600vh;
  background-image: url(../img/foodBackground.jpeg);
}

.imageContainer {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 800px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  border-bottom: 2px;

  height: inherit;
  width: inherit;
}

.pizza-img {
  height: auto;
  width: 500px;
  object-fit: cover;
  display: block;
}

html,
body {
  margin: 0;
}

hr {
  width: 60vw;
  box-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red;
}

.innerFooter {
  line-height: 150px;
  text-align: center;
  text-shadow: 0 0 10px red, 0 0 20px red;
}

.innerFooter:hover {
  text-shadow: 0 0 10px yellow, 0 0 20px yellow;
}

.chickenMenu {
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  margin-left: auto;
  position: relative;
  border: var(--border-size);

  --border-size: 4px;
  z-index: 1;
}

.chickenMenu::before {
  content: "";
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;

  border: var(--border-size) solid gold;
  z-index: -1;
}

.chickenMenu:hover::before {
  color: yellow;
  text-shadow: 0 0 10px yellow, 0 0 20px yellow;

  /* box-shadow: 0 0 10px yellow, 0 0 20px; */
  top: calc(var(--border-size) * -3);
  bottom: calc(var(--border-size) * -3);
  left: calc(var(--border-size) * -3);
  right: calc(var(--border-size) * -3);
}

.chickenMenu:hover {
  color: yellow;
  text-shadow: 0 0 10px red, 0 0 20px red;
}

.pizzaMenu {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  border: var(--border-size);

  --border-size: 4px;
  z-index: 1;
}

.tacoMenu {
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  border: var(--border-size);

  --border-size: 4px;
  z-index: 1;
}

.homeMenu {
  overflow: hidden;
  padding: 20px;
  border: 4px solid gold;
  border-radius: 10px;
  font-size: 24px;
  position: relative;
  background-clip: text;
  margin: 10px;

  z-index: 1;

  -webkit-background-clip: text;
}

.homeMenu::after {
  padding: 20px;
  border-radius: 15px;
  content: "Home";
  overflow: hidden;
  position: absolute;
  background: yellow;
  background-clip: text;
  -webkit-background-clip: text;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: left;
  transition: all 400ms ease-in-out;
  width: 0;
}
.homeMenu:hover::after {
  width: 100%;
  background: red;
  text-shadow: 0 0 10px yellow, 0 0 20px yellow;
  border: yellow;
  box-shadow: 0 0 10px yellow, 0 0 20px yellow;
  z-index: -1;
}

.header div {
  box-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red;
}

.header div:hover {
  box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 40px yellow, 0 0 80px yellow;
}

.pizzaMenu::before {
  content: "";
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;

  border: var(--border-size) solid gold;
  z-index: -1;
}

.pizzaMenu:hover::before {
  color: yellow;
  text-shadow: 0 0 10px yellow, 0 0 20px yellow;

  /* box-shadow: 0 0 10px yellow, 0 0 20px; */
  top: calc(var(--border-size) * -3);
  bottom: calc(var(--border-size) * -3);
  left: calc(var(--border-size) * -3);
  right: calc(var(--border-size) * -3);
}

.pizzaMenu:hover {
  color: yellow;
  text-shadow: 0 0 10px red, 0 0 20px red;
}

.tacoMenu::before {
  content: "";
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;

  border: var(--border-size) solid gold;
  z-index: -1;
}

.tacoMenu:hover::before {
  color: yellow;
  text-shadow: 0 0 10px yellow, 0 0 20px yellow;

  /* box-shadow: 0 0 10px yellow, 0 0 20px; */
  top: calc(var(--border-size) * -3);
  bottom: calc(var(--border-size) * -3);
  left: calc(var(--border-size) * -3);
  right: calc(var(--border-size) * -3);
}

.tacoMenu:hover {
  color: yellow;
  text-shadow: 0 0 10px red, 0 0 20px red;
}

.burger {
  visibility: hidden;
}

.toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 10px 0px 0px 10px;
  width: 40px;
  height: 40px;
  opacity: 0;
}

.burger {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 15px 0 0 10px;
}

.toggler:checked + .burger > div {
  transform: rotate(135deg);
}

.burger > div {
  transition: all 300ms ease;
  height: 2px;
  width: 100%;
  background-color: red;
  position: relative;
}

.burger > div::after,
.burger > div::before {
  content: "";
  background-color: red;
  position: absolute;
  top: -10px;
  height: 2px;
  width: 100%;
  z-index: 1;
}

.burger > div::after {
  top: 10px;
}

.toggler:checked + .burger > div::after,
.toggler:checked + .burger > div::before {
  top: 0;
  transform: rotate(90deg);
}

.toggler:checked ~ .header {
  transform: scaleY(1);
  visibility: visible;
}

h2 {
  margin-top: 20px;
  margin-bottom: 5px;
  text-shadow: 0 0 10px red, 0 0 20px red;
}

.paragraph {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0 20px 20px 20px;
  font-size: 2rem;
}

h3 {
  text-align: center;
  text-shadow: 0 0 10px red, 0 0 20px red;
}

h4 {
  text-shadow: 0 0 10px red, 0 0 20px red;
  text-align: center;
}

.steps {
  padding-right: 20px;
  font-size: 1.5rem;
}

ol > li {
  margin: 20px;
  font-size: 2rem;
}

p {
  margin-top: 10px;
}

ul {
  font-size: 2rem;
  display: table;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .burger {
    visibility: visible;
  }

  .center {
    width: 100vw;
  }

  hr {
    width: 100vw;
  }

  .header {
    width: auto;
    height: 175px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    top: 50px;
    position: absolute;
    top: 60px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 0px;
    visibility: hidden;
    transition: all 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
  }

  h1:hover::before {
    padding: 2px;
  }

  .innerFooter {
    font-size: 32px;
  }

  .chicken-img {
    width: 350px;
    border-radius: 10px;
  }
  .heading {
    font-size: 1rem;
  }

  h2 {
    margin-bottom: 0;
    font-size: 1rem;
  }

  .header {
    font-size: 10px;

    text-align: left;
  }
  .homeMenu,
  .homeMenu::after {
    background: red;
    margin-left: 0px;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .chickenMenu,
  .chickenMenu::before {
    background: red;
    margin-left: 0px;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .tacoMenu,
  .tacoMenu::before {
    background: red;
    margin-left: 0px;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .steps {
    padding-right: 20px;
    font-size: 1rem;
  }

  .additional {
    padding-right: 20px;
    font-size: 1rem;
  }

  ol > li {
    margin: 20px;
    font-size: 1rem;
  }

  ul > li {
    margin: 20px;
    font-size: 1rem;
  }

  .paragraph {
    font-size: 1rem;
    margin-left: 25px;
    margin-right: 25px;
  }

  h2 {
    margin: 10px;
  }
}
