

* body {
    background-color: lightblue;
}


h1{
    text-align: center;
    color: #154360;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.para {
    text-align: center;
}

h2, h3, h4 {
    color: #154360;
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: auto;
    width: 630px;
}